html, body {
  margin: 0;
  padding: 0;
  background-color: #232020;
  color: white;
  font: 50 35px 'Lato', sans-serif;
  text-align: center;
}

canvas {
  display: block;
  margin: 50px auto 50px auto;
}

p {
  margin: auto;
  padding: 0;
}
